# PyCharm .idea folder
.idea/

# Python bytecode files
*.pyc

# Virtual environment
venv/

# temp
temp/*
!temp/.keep

# Images
data/
predictions/*
!predictions/.keep

cont_predictions/
images/tmp/
images/*.jpg

# tensorrt
onnx-tensorrt/

# Trained models
selected_models/*
!selected_models/.keep

cpmodels/models/
