# PyCharm .idea folder
.idea/

# Python bytecode files
*.pyc

# Virtual environment
venv/

# Images
data/
predictions/
cont_predictions/
images/tmp/
images/*.jpg

# tensorrt
onnx-tensorrt/

# Trained models
selected_models/
cpmodels/models/
